* {
	margin: 0;
    padding: 0;
}

html, body {
    background-color: rgb(19, 7, 30);
    width: 100%;
    font-size: 1em;
    overflow-x: hidden;
}
/* 
TOP PART
*/
#welcome-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 960px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

#welcome-top h1 {
    text-align: center;
    font-family: "Limelight", serif;
    font-size: 85px;
    background: linear-gradient(to bottom, #cccccc 22%, #d6c5c5 24%, #b8b8b8 26%, #b8b8b8 27%, #d9d9d9 40%, #201f1f 78%);
    background-clip: text;
    color: transparent;
    opacity: 0;
    transform: translateY(-100vh);
    animation: h1-welcome-drop 0.8s 0.2s ease-out forwards, 
                    h1-shadow-fade 1.3s 0.5s ease-in forwards;
}
@keyframes h1-welcome-drop {
    from { opacity: 0; transform: translateY(-100vh); }
    to { opacity: 1; transform: translateY(0); }
}
@keyframes h1-shadow-fade {
    from { text-shadow: 0 0 0 transparent; }
    to { text-shadow: 6px 6px 10px rgb(43, 41, 41); }
}

#welcome-top .below-1 {
    text-align: center;
    font-family: "Hammersmith One", serif;
    font-size: 35px;
    background: linear-gradient(to right, rgb(255, 255, 255),rgb(53, 53, 59),rgb(253, 253, 253));
    background-clip: text;
    color: transparent;
    opacity: 0;
    animation: fade-in-1 0.5s 1s ease-out forwards;
}
@keyframes fade-in-1 {
    from { opacity: 0; }
    to { opacity: 1; }
}
#welcome-top .below-2 {
    text-align: center;
    font-family: "Audiowide", serif;
    font-size: 30px;
    background: linear-gradient(to right, rgb(0, 251, 255), rgb(255, 100, 237), rgb(255, 255, 255), rgb(0, 251, 255), rgb(255, 100, 237));
    background-clip: text;
    color: transparent;
    opacity: 0;
    animation: fade-in-2 1s 2s  ease-out forwards, below-2-shadow 0.3s 2.5s  ease-out forwards;
}
@keyframes fade-in-2 {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes below-2-shadow {
    from { text-shadow: none; }
    to { text-shadow: 2px 2px 5px rgb(241, 165, 184); }
}
/* 
ABOUT US BOX
*/

#about-us {
    display: flex;
    overflow: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 250px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px;

    border: 10px solid transparent;
    border-image: linear-gradient(to right, rgb(255, 255, 255),rgb(16, 16, 17),rgb(235, 227, 227));
    border-image-slice: 1;
    opacity: 0;
    transform: translateX(-600px);
    transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
}
#about-us h1 {
    padding: 25px;
    text-align: center;
    font-family: "Audiowide", serif;
    font-size: 52px;
    background: linear-gradient(to bottom, rgb(235, 230, 230),rgb(138, 138, 138));
    background-clip: text;
    color: transparent;
}


.about-us-boxes {
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
    justify-content: space-evenly;

}
@media (max-width: 1000px) {
  .about-us-boxes {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  .about-us-boxes section {

}
}
#about-us.is-visible {
    opacity: 1;
    transform: translateX(0);
}


.about-us-boxes section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    width:33.33%;
    height: 100%;
    min-width: 1%;
}
.about-us-boxes img {
  border-radius: 50%;
  padding: 20px;

}
.about-us-boxes h2 {
    text-align: center;
    font-family: "Hammersmith One", serif;
    font-size: 45px;
    background: linear-gradient(to right, rgb(0, 251, 255), rgb(255, 100, 237), rgb(255, 255, 255), rgb(0, 251, 255), rgb(255, 100, 237));
    background-clip: text;
    color: transparent;
    padding: 15px;
}
.about-us-boxes p {
    text-align: left;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 1.4em;
    color: #fff;
    background-clip: text;
}

/*
WHAT CAN WE OFFER BOXES
*/

#offer1 {
    display: flex;
    overflow: auto;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    box-sizing: border-box;

    padding: 50px;
    margin-top: 600px;

    opacity: 0;
    transition: transform 2s ease-out, opacity 1.5s ease-in-out;
        transform: translateX(-1000px);
}
#offer1.show {
    opacity: 1;
    transform: translateX(0);
}
.offer1-desc-box, .offer2-desc-box {
    flex: 1;
    padding: 50px;
    

    border: 10px solid transparent;
    border-image: linear-gradient(to bottom, rgb(234, 47, 248), rgb(226, 218, 218), rgb(68, 6, 88));
    border-image-slice: 1;
}
.offer1-desc-box h1, .offer2-desc-box h1 {
    text-align: center;
    font-family: "Hammersmith One", serif;
    font-size: 45px;
    background: linear-gradient(to top, rgb(47, 11, 44), rgb(160, 33, 145), rgb(255, 255, 255), rgb(149, 55, 177), rgb(48, 2, 79));
    background-clip: text;
    color: transparent;
    padding: 15px;
}
.offer1-desc-box h2, .offer2-desc-box h2 {
    text-align: center;
    font-family: "Hammersmith One", serif;
    font-size: 35px;
    background: linear-gradient(to bottom, rgb(255, 0, 247), rgb(255, 100, 237), rgb(156, 8, 255), rgb(0, 251, 255), rgb(255, 100, 237));
    background-clip: text;
    color: transparent;
    padding: 15px;
}
.offer1-desc-box p, .offer2-desc-box p {
    text-align: left;
    font-family: "Rokkitt", serif;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 1.4em;
    color: #fff;
    background-clip: text;
    padding: 8px;
}