* {
	margin: 0;
    padding: 0;
}

html, body {
    background-color: rgb(19, 7, 30);
    width: 100%;
    font-size: 1em;
}
/* 
TOP PART
*/
#welcome-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 960px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

#welcome-top h1 {
    text-align: center;
    font-family: "Limelight", serif;
    font-size: 85px;
    background: linear-gradient(to bottom, #cccccc 22%, #d6c5c5 24%, #b8b8b8 26%, #b8b8b8 27%, #d9d9d9 40%, #201f1f 78%);
    background-clip: text;
    color: transparent;
    opacity: 0;
    transform: translateY(-100vh);
    animation: h1-welcome-drop 0.8s 0.2s ease-out forwards, 
                    h1-shadow-fade 1.3s 0.5s ease-in forwards;
}
@keyframes h1-welcome-drop {
    from { opacity: 0; transform: translateY(-100vh); }
    to { opacity: 1; transform: translateY(0); }
}
@keyframes h1-shadow-fade {
    from { text-shadow: 0 0 0 transparent; }
    to { text-shadow: 6px 6px 10px rgb(43, 41, 41); }
}

#welcome-top .below-1 {
    text-align: center;
    font-family: "Hammersmith One", serif;
    font-size: 35px;
    background: linear-gradient(to right, rgb(255, 255, 255),rgb(53, 53, 59),rgb(253, 253, 253));
    background-clip: text;
    color: transparent;
    opacity: 0;
    animation: fade-in-1 0.5s 1s ease-out forwards;
}
@keyframes fade-in-1 {
    from { opacity: 0; }
    to { opacity: 1; }
}
#welcome-top .below-2 {
    text-align: center;
    font-family: "Audiowide", serif;
    font-size: 30px;
    background: linear-gradient(to right, rgb(0, 251, 255), rgb(255, 100, 237), rgb(255, 255, 255), rgb(0, 251, 255), rgb(255, 100, 237));
    background-clip: text;
    color: transparent;
    opacity: 0;
    animation: fade-in-2 1s 2s  ease-out forwards, below-2-shadow 0.3s 2.5s  ease-out forwards;
}
@keyframes fade-in-2 {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes below-2-shadow {
    from { text-shadow: none; }
    to { text-shadow: 2px 2px 5px rgb(241, 165, 184); }
}
/* 
ABOUT US BOX
*/

#about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    border: 10px solid transparent;
    border-image: linear-gradient(to right, rgb(255, 255, 255),rgb(16, 16, 17),rgb(235, 227, 227));
    border-image-slice: 1;
    opacity: 0;
    transform: translateX(-600px);
    transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
}

#about-us h1 {
    text-align: center;
    width: 100%;
    height: 100px;
    font-family: "Audiowide", serif;
    font-size: 45px;
    background: linear-gradient(to bottom, rgb(202, 188, 188),rgb(0, 0, 0),rgb(0, 0, 0));
    background-clip: text;
    color: transparent;
}
#about-us img {
  border-radius: 50%;

}
.about-us-boxes {
  display: flex;
  flex-direction: row;
}

#about-us.is-visible {
    opacity: 1;
    transform: translateX(0);
}

#about-us section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

#about-us h2 {
    text-align: center;
    height: 150px;
    font-family: "Audiowide", serif;
    font-size: 45px;
    background: linear-gradient(to bottom, rgb(202, 188, 188),rgb(0, 0, 0),rgb(0, 0, 0));
    background-clip: text;
    color: transparent;
}
#about-us p {
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    background: linear-gradient(to bottom, rgb(255, 255, 255),rgb(81, 78, 78),rgb(255, 235, 235));
    background-clip: text;
    color: transparent;
}